# Logs
logs
*.log
npm-debug.log*

# Node / Frontend
**/node_modules/
**/dist/
**/dist-ssr/
*.local

# Environment & Keys
.env
*.env
**/.env

# Databases
*.db
*.sqlite
*.sqlite3

# Python
**/__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Backend Storage
backend/storage/missions/*
!backend/storage/missions/.gitkeep

# IDE / System
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store


